body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    min-width: 100%;
    min-height: 100vh;
    font-family: Vinque, Roboto, serif;
    background-image: url("../img/homepage-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.main-news-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 50vh;
    margin-top: 2.5%;
    gap: 2.5%;
}

.main-news-container h2
{
    display: flex;
    font-size: 1.5rem;
    background-color: var(--snow-50);
    padding: 0.25vw;
    border-radius: 0.25vw;
    position: relative;
    font-weight: 600;
    top: 42%;
}

.news-labels-container h2
{
    font-size: 1.5rem;
    background-color: var(--snow-70);
    padding: 0.25vw;
    border-radius: 0.25vw;
    font-weight: 600;
}

.news-labels-container p
{
    display: flex;
    font-size: 1rem;
    background-color: var(--snow-70);
    padding: 0.25vw;
    border-radius: 0.25vw;
    font-weight: 600;
}

.news-labels-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2.5%;
    border-radius: 1vw;
    position: relative;
    margin-bottom: 1%;
}

.main-news-container p
{
    display: flex;
    font-size: 1rem;
    background-color: var(--snow-70);
    padding: 0.25vw;
    border-radius: 0.25vw;
    font-weight: 600;
}

.news-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 100vh;
    margin-top: 2.5%;
    gap: 2.5%;
}

.news-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    box-shadow: black 0 0 1vw;
    color: var(--black);
    position: relative;
}

.news-item:hover
{
    cursor: pointer;
    border: 0.25vw solid var(--secondary-color-100);
}

.news-image
{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.9vw;
}

.text-container
{
    background-color: var(--snow-20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80%;
    height: 100%;
    border-radius: 1vw;
    margin-top: 2.5%;
}

.news-title
{
    display: flex;
    font-size: 5rem;
    font-weight: bold;
    color: var(--quaternary-color-100);

}

.news-text
{
    display: flex;
    font-size: 2rem;
    color: var(--secondary-color-100);
    margin-top: 2.5%;
}



@media screen and (max-width: 992px)
{
    .main-news-container
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 35vh;
    }

    .news-container
    {
        grid-template-columns: 1fr 1fr;
        width: 75%;
        height: 80vh;
    }

    .news-item
    {
        height: 100%;
    }

    .text-container
    {
        width: 80%;
    }

    .news-title
    {
        font-size: 3rem;
    }

    .news-text
    {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px)
{
    .main-news-container
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 75vh;
    }

    .news-container
    {
        grid-template-columns: 1fr 1fr;
        width: 80%;
        height: 70vh;
    }

    .news-item
    {
        height: 100%;
    }

    .text-container
    {
        width: 80%;
    }

    .news-title
    {
        font-size: 3rem;
    }

    .news-text
    {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px)
{
    .main-news-container
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 60vh;
    }

    .news-container
    {
        grid-template-columns: 1fr 1fr;
        width: 70%;
        height: 50vh;
    }

    .news-item
    {
        height: 100%;
    }

    .text-container
    {
        width: 80%;
    }

    .news-title
    {
        font-size: 3rem;
    }

    .news-text
    {
        font-size: 1.5rem;
    }
}