
/*
color palette:

lawn green: #95e836
black: #000300
snow: #fff7f9
coyote: #84714F
rose ebony: #5A3A31
bistre: #31231E
african violet: #AB92BF
*/




body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    min-width: 100%;
    min-height: 200vh;
    font-family: Roboto, serif;
    background-image: url("../img/homepage-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-nav
{
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    gap: 10%;
    background-color: #31231e;
    align-items: center;
}

.nav-links
{
    display: flex;
    gap: 8%;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;

}

.nav-links a
{
    display: flex;
    text-decoration: none;
    width: 20%;
    height: 4vh;
    text-wrap: none;
    align-items: center;
    justify-content: center;
    color: rgba(171, 146, 191, 0.9);
    font-size: 1.75rem;
    font-weight: 500;
}

.nav-links a:hover
{
    color: rgb(205, 179, 229);
    background-color: rgba(0, 3, 0, 0.3);
    border-radius: 5px;
}


.page-logo
{
    padding-left: 2%;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 50%;
    background-color: rgba(149, 232, 54, 1);
    border: 0.2vw solid snow;
    border-radius: 0.25vw;
    font-family: Roboto, serif;
    font-size: 1.4rem;
}

.button:hover
{
    background-color: #74b528;
    border: 0.2vw solid #e5e0e0;
    cursor: pointer;
}

.footer-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #31231e;
}




.footer-links-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 10vw;
    height: 100%;
   /* background-color: aqua;*/
    gap: 5%;
}

.footer-links
{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5%;
    width: 10vw;
    height: 90%;
    /*background-color: red;*/
}

.footer-links a
{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 10%;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    text-wrap: none;
    border-radius: 5px;
}

.footer-links a:hover
{
    color: rgb(171, 146, 191);
    background-color: rgba(0, 3, 0, 0.3);
}

.footer-socials
{
    display: flex;
    padding-right: 0.5vw;
    align-self: flex-end;
    flex-direction: row;
    font-size: 1.75rem;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1%;
    width: 80%;
    height: 40%;
}

.footer-socials a
{
    color: #fff7f9;
}

.page-logo:hover
{
    cursor: pointer;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    font-size: 3rem;
}


@media screen  and (max-width: 768px)
{
   .play-button
   {
       font-size: 1.1rem;
   }

    .header-nav .nav-links
    {
        gap: 5%;
    }

    .menu-toggle
    {
        display: block;
    }

    .nav-links
    {
        display: none;
        background-color: #5b5a5a;
        width: 0;
        padding: 10px;
    }

    .nav-links a
    {
        display: none;
        margin: 5px 0;
    }

    .nav-links.show
    {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px)
{
  .nav-links a
  {
       font-size: 1.2rem;
  }

    .play-button
    {
        font-size: 0.8rem;
        margin-right: 2vw;
        width: 60%;
    }
}

@media screen and (max-width: 480px)
{
    .header-nav .nav-links
    {
        gap: 1%;
    }

    .play-button
    {
        font-size: 0.75rem;
    }


}