
:root
{
    --lawn-green: #95e836;
    --black: #000300;
    --snow: #fff7f9;
    --coyote: #84714F;
    --rose-ebony: #5A3A31;
    --bistre: #31231E;
    --african-violet: #AB92BF;
}



.header-nav
{
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    gap: 3%;
    background-color: #31231e;
    align-items: center;
    z-index: 100;
}

.nav-links
{
    display: flex;
    gap: 1%;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-links a
{
    display: flex;
    text-decoration: none;
    width: auto;
    height: 4vh;
    align-items: center;
    justify-content: center;
    color: rgba(171, 146, 191, 0.9);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.5vw;
    padding: 0.25rem 1.5rem;
}

.nav-links a:hover
{
    color: rgb(205, 179, 229);
    background-color: rgba(255, 247, 249, 0.15);

}


.page-logo
{
    padding-left: 2%;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button
{
    margin-left: auto;
    margin-right: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 50%;
    background-color: rgba(149, 232, 54, 1);
    border: 0.2vw solid snow;
    border-radius: 0.5vw;
    font-family: Roboto, serif;
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
}

.button:hover
{
    background-color: #74b528;
    border: 0.2vw solid #e5e0e0;
    cursor: pointer;
    transform: scale(1.1);
}


.new-footer
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 50vh;
    margin-top: 50vh;
    background-color: var(--bistre);
}


.new-footer a
{
    display: flex;
    color: white;
    align-items: center;
    width: auto;
    padding: 0.15rem 1rem;
    height: 10%;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    text-wrap: none;
    border-radius: 5px;
    background-color: aqua;
}



.footer-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-top: auto;
    background-color: #31231e;
}

.footer-links-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 10vw;
    height: 100%;
    /* background-color: aqua;*/
    gap: 5%;
}

.footer-links
{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5%;
    width: 10vw;
    height: 90%;
    /*background-color: red;*/
}

.footer-links a
{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0.15rem 1rem;
    height: 10%;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    text-wrap: none;
    border-radius: 5px;
}

.footer-links a:hover
{
    color: rgb(171, 146, 191);
    background-color: rgba(255, 247, 249, 0.15);

}

.footer-socials
{
    display: flex;
    padding-right: 0.5vw;
    align-self: flex-end;
    flex-direction: row;
    font-size: 1.75rem;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1%;
    width: 80%;
    height: 40%;
    transition: all 0.2s ease-in-out;
}

.footer-socials a
{
    color: #fff7f9;
}

.footer-socials a:hover
{
    color: #ab92bf;
    cursor: pointer;
    transform: scale(1.1);
}

.page-logo:hover
{
    cursor: pointer;
}